<h1>Affected Recipients</h1>
<% if @recipients.empty? %>
  <h2>No one</h2>
<% else %>
  <% @recipients.each do |recipient| %>
    <% id, name, email = recipient.values %>
    <h2>Name: <%= name %></h2>
    <p>Email: <%= email %></p>
    <p>Date: <%= recipient['donation_date'][0..18] %></p>
  <% end %>
<% end %>
