<h1>Affected Recipients</h1>
<% if @recipients.empty? %>
  <h2>No one</h2>
<% else %>
  <% @recipients.each do |recipient| %>
    <h2>Name: <%= recipient.name %></h2>
    <p>Email: <%= recipient.email %></p>
    <p>Date: <%= recipient.donation_date %></p>
  <% end %>
<% end %>
