<h1>Donation History</h1>
<% if @donations.empty? %>
  <h3>Has not received blood yet</h3>
<% else %>
  <% @donations.each do |donation| %>
    <h3>Donation #<%= donation.donation_id %></h3>
    <p>Donor: <%= donation.name %> </p>
    <p>Email: <%= donation.email %></p>
    <p>Date: <%= donation.date[0..18] %></p>
  <% end %>
<% end %>
