<h1>Showing Donation</h1>
<h1><%= 'Recipient: ' + @donation.recipient_name %></h1>
<p><%= 'Email: ' + @donation.recipient_email%></p>
<h1><%= 'Donor: ' + @donation.donor_name %></h1>
<p><%= 'Email: ' + @donation.donor_email%></p>
